@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');

body{
  overflow: hidden;
}

.App{
  transition: 1s;
  opacity: 0;
  text-align: center;
}


.mainBox{
  margin: auto;
  transition: 10s;
  border-top: 4vw solid rgb(0,0,0,0.4);
  border-right: 10vw solid rgb(0,0,0,0.4);
  border-left: 10vw solid rgb(0,0,0,0.4);
  border-bottom: 4vw solid rgb(0,0,0,0.4);
  height: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    width: 0;
  }
  to {
    width:100%;
  }
}
.scoreBox{

  border-top: 20vh solid #263238 ;

  display: flex;
  flex-direction: row;
  width: fit-content;
}

.logoOut{
  margin-top: -3.5em;
}

.logo{
  transition: 1s ease;
  height: 13em;
  border-radius: 100px;
  box-shadow: 2px 20px 20px rgb(0,0,0,0.16);
}

.title{
  font-family: Lato;
  font-size: 2.23vw;
  font-weight: 600;
  margin-top: 1%;
  margin-left: 3%;
  color: white;
  text-align: center;
  position: absolute;
}

.scoreHouse{
  height: 65vh;
  /*padding-top: 20vh;*/
  width: 20vw;
  transition: 1s;
  background-color: red;
}

.aryan{
  position: absolute;
  z-index: -1;
  width: 100vw;
  margin-left: 0;
  text-align: inherit!important;
}
#demo{
  transform: rotate(90deg) scaleX(-1);

}


.point{
  transition: 1s ease;
  font-family: 'Oswald', sans-serif;
  color: rgba(255, 255, 255, 0.85 ); ;
  margin-top: 16vh;
  font-size: 10vh;
}
